<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>All Contacts Deleted</title>
  </head>
  <body>
    <div class="container-fluid">
      <h3>Address book cleared!</h3>
      <a href="/">Home</a>
    </div>

  </body>
</html>
